@use "./_variables.scss" as *;

// Link styles for content areas only
.prose a,
.content a {
  color: var(--ds-color-link);
}

.prose a:hover,
.content a:hover {
  border-bottom: 2px solid var(--ds-color-link-hover);
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
}
