{
  "dependencies": {
    "@glideapps/glide-data-grid": "latest",
    "lodash": "latest",
    "marked": "latest",
    "react-responsive-carousel": "latest"
  },
  "devDependencies": {
    "typescript": "latest"
  }
}
